<!--The content below is only a placeholder and can be replaced.-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.5/css/bootstrap.css">

<div style="text-align:center">
  <h1>
    <br/>
    <nav>
  <a routerLink="/home">Home</a>
</nav>

  </h1>
<router-outlet></router-outlet>