<mat-card class="example-card" style="text-align:center">

 <select id="cashier" [(ngModel)]="id" (change)="onChange($event.target.value)">
   <option value="" disabled selected>select a cashier</option>
   <option *ngFor="let cashier of cashiers" [value]="cashier.id" >{{cashier.firstName}}</option>
 </select>
 <h2>{{id}}</h2>

    <button mat-button routerLink="/home">Back To Home </button>
    <button mat-button (click)="Retrive()">RetriveTransaction </button>
    
<table class='table table-striped'>
  <thead >
    <tr style="font-weight: bold">
      <td >Data</td>
      <td>Prodact Cost</td>
      <td>Paid Amount</td>
      <td>Change Amount</td>
      <td>Cashier ID</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of transactionData">
      <td>{{ data.data }}</td>
      <td>{{data.ProdactCost}}</td>
      <td>{{data.PaidAmount}}</td>
      <td>{{data.ChangeAmount}}</td>
      <td>{{data.cashierID}}</td>
    </tr>
  </tbody>
</table>

</mat-card>	