<mat-card class="example-card" style="text-align:center">
 
  <mat-card-actions>
    <button mat-button routerLink="/Login">Login as a cashier</button>
    <button mat-button routerLink="/showTransaction">Show transaction by cashier</button>
  </mat-card-actions>
</mat-card>	